.row
  .col-sm
    +panel-primary(doc.ap_orig_beer_name)
      row
        .col-md-4
          if doc.ap_img
            +img-rounded(doc.ap_img,"Circle image")
          else if doc.ba_img
            +img-rounded(doc.ba_img,"Circle image")
          else
            +img-circle("../../images/beer_bottle.png","Circle image")
        .col-md-4
          h4 BA Score: #{doc.ba_beer_score} / 5
          - var score_percent = Math.round(doc.ba_beer_score/0.05)
          +progress-bar-striped(score_percent)
          strong Brewary:
          |&nbsp; #{doc.ba_brewary}<br>
          strong Beer:
          |&nbsp; #{doc.ba_beer}<br>
          strong Style:
          |&nbsp; #{doc.ba_style}<br>
          strong Category:
          |&nbsp; #{doc.ba_category}<br>
          strong ABV:
          |&nbsp; #{doc.ba_abv}<br>
          if doc.ba_url
            +a-btn(doc.ba_url) Перейти на сайт
            |<br>
        .col-md-4
          if doc.ap_beer
            h4 apivo.ru
            strong Beer:
            |&nbsp; #{doc.ap_beer}<br>
            strong Название:
            |&nbsp; #{doc.ap_orig_beer_name}<br>
            strong Brewary:
            |&nbsp; #{doc.ap_brewary}<br>
            strong Вид пива:
            |&nbsp; #{doc.ap_style}<br>
            strong Страна:
            |&nbsp; #{doc.ap_country}<br>
            strong Крепость:
            |&nbsp; #{doc.ap_abv}<br>
            if doc.ap_density
              strong Плотность:
              |&nbsp; #{doc.ap_density}<br>
            if doc.ap_type
              strong Тип брожения:
              |&nbsp; #{doc.ap_type}<br>
            strong Цена:
            |&nbsp; #{doc.ap_price_str}<br>
            strong Объем:
            |&nbsp; #{doc.ap_vol}<br>
            strong Тара:
            |&nbsp; #{doc.ap_tara}<br>
            if doc.ap_url
              +a-btn(doc.ap_url) Перейти на сайт
              |<br>
            if doc.ap_desc[0]
              button.btn.btn-primary(data-toggle="modal",data-target="#apModal") Описание
              +modal(doc.ap_beer,"apModal")
                if doc.ap_desc[0]
                  |#{doc.ap_desc[0]}<br>
                if doc.ap_desc[1]
                  |#{doc.ap_desc[1]}<br>
                if doc.ap_desc[2]
                  |#{doc.ap_desc[2]}<br>
                if doc.ap_desc[3]
                  |#{doc.ap_desc[3]}<br>
                if doc.ap_desc[4]
                  |#{doc.ap_desc[4]}<br>
                +a-btn(doc.ap_url) Перейти на сайт
