.jumbotron
  +panel-primary(json_obj.beer+' [ '+json_obj.brewary+' ] BA + APIVO template')
    .row
      .col-md-3
        if json_obj.img
          +img-rounded(json_obj.img,json_obj.beer)
        else
          +img-circle("../images/beer_bottle.png",json_obj.beer)
      .col-md-4
        h4 BA Score: #{json_obj.BA_score} / 5
        +progress-bar-striped(json_obj.score_percent)
        strong BA Beer:
        |&nbsp; #{json_obj.BA_beer}<br>
        strong BA Brewary:
        |&nbsp; #{json_obj.BA_brewary}<br>
        strong BA Style:
        |&nbsp; #{json_obj.BA_style}<br>
        strong BA Category:
        |&nbsp; #{json_obj.BA_category}<br>
        strong BA ABV:
        |&nbsp; #{json_obj.BA_abv}<br>
        if json_obj.url
          +a-btn(json_obj.BA_url) Перейти на сайт
          |<br>
      .col-md-4
        if json_obj.Название
          h4 apivo.ru
          strong Beer:
          |&nbsp; #{json_obj.beer}<br>
          strong Название:
          |&nbsp; #{json_obj.Название}<br>
          strong Brewary:
          |&nbsp; #{json_obj.brewary}<br>
          strong Вид пива:
          |&nbsp; #{json_obj["Вид пива"]}<br>
          strong Страна:
          |&nbsp; #{json_obj.Страна}<br>
          strong Крепость:
          |&nbsp; #{json_obj.Крепость}<br>
          strong Тип брожения:
          |&nbsp; #{json_obj["Тип брожения"]}<br>
          strong Цена:
          |&nbsp; #{json_obj.Цена}<br>
          strong Объем:
          |&nbsp; #{json_obj.Объем}<br>
          strong Тара:
          |&nbsp; #{json_obj.Тара}<br>
          if json_obj.url
            +a-btn(json_obj.url) Перейти на сайт
            |<br>
          if json_obj.desc[0]
            button.btn.btn-primary(data-toggle="modal",data-target="#apModal") Описание
            +modal(json_obj.ap_beer,"apModal")
              if json_obj.desc[0]
                |#{json_obj.desc[0]}<br>
              if json_obj.desc[1]
                |#{json_obj.desc[1]}<br>
              if json_obj.desc[2]
                |#{json_obj.desc[2]}<br>
              if json_obj.desc[3]
                |#{json_obj.desc[3]}<br>
              if json_obj.desc[4]
                |#{json_obj.desc[4]}<br>
              +a-btn(json_obj.url) Перейти на сайт
