extends ../node_modules/pug-bootstrap/layouts/starter

append body
	.container
		h1= title
		.container
			if user != null
				+label-default('Привет: '+user)
		.container
			form.navbar-form.navbar-left
				+icon-primary('search')
				|&nbsp;&nbsp;
				input.form-control(name='query', type='text', placeholder='STOUT')
				|&nbsp;&nbsp;
				button.btn.btn-primary(type='submit')= 'Найти пиво'
		.container
			if results[0] != null
				+alert-i-success('Успешный результат поиска по запросу: '+query)
				for result in results
					- var json_obj = JSON.parse(JSON.stringify(result._source));
					// render beeradvocate in .jumbotron
					if json_obj.beer
						.jumbotron
							+panel-primary(json_obj.beer+' [ '+json_obj.brewary+' ]')
								.row
									.col-md-3
										if json_obj.img
											+img-rounded(json_obj.img,"Circle image")
										else
											+img-circle("../images/beer_bottle.png","Circle image")
									.col-md-4
										h4 Score: #{json_obj.score} / 5
										+progress-bar-striped(json_obj.score_percent)
										strong Brewary:
										|&nbsp; #{json_obj.brewary}<br>
										strong Beer:
										|&nbsp; #{json_obj.beer}<br>
										strong Style:
										|&nbsp; #{json_obj.style}<br>
										strong Category:
										|&nbsp; #{json_obj.category}<br>
										strong ABV:
										|&nbsp; #{json_obj.abv}
									.col-md-4
										if json_obj.Название
											// Объем, Тара, Тип брожения, Цена, Крепость, Страна
											strong Название:
											|&nbsp; #{json_obj.Название}<br>
											strong Бренд:
											|&nbsp; #{json_obj.Бренд}<br>
											strong Вид пива:
											|&nbsp; #{json_obj["Вид пива"]}<br>
											strong Страна:
											|&nbsp; #{json_obj.Страна}<br>
											strong Крепость:
											|&nbsp; #{json_obj.Крепость}<br>
											strong Тип брожения:
											|&nbsp; #{json_obj["Тип брожения"]}<br>
											strong Цена:
											|&nbsp; #{json_obj.Цена}<br>
											strong Объем:
											|&nbsp; #{json_obj.Объем}<br>
											strong Тара:
											|&nbsp; #{json_obj.Тара}<br>
					else
						.jumbotron
							+panel-info(json_obj.Название+' [ '+json_obj.Бренд+' ]')
								-	for(var prop in json_obj)
									strong #{prop}:
									|&nbsp;&nbsp;#{json_obj[prop]}</br>
			else
				+alert-i-danger('Ничего не найдено по запросу: '+query)
