extends ../node_modules/pug-bootstrap/layouts/starter
append body
  .container
    //TODO add bootstrap components: beer cards https://v4-alpha.getbootstrap.com/components/card/, modals, pagination, tooltips
    h1= title
    .container
      if styles != null
        - var ba_obj = styles.ba_aggs.aggregations["Beer styles"].buckets;
        - var ba_keys = Object.keys(ba_obj);
        - var ap_obj = styles.ap_aggs.aggregations["Beer styles"].buckets;
        - var ap_keys = Object.keys(ap_obj);
        .container
          .row
            .col-sm-6
              +panel-default("BeerAdvocate total styles: "+styles.ba_aggs.hits.total)
                for ba_v in ba_keys
                  strong #{ba_v}&nbsp
                  +badge(ba_obj[ba_v]["doc_count"])
                  - var ba_max = Number(ba_obj[ba_v]["max abv"]["value"]).toFixed(1)
                  |<br>&nbsp&nbsp&nbsp&nbspmax AVG:&nbsp#{ba_max}
                  |<br>
            .col-sm-6
              +panel-default("apivo.ru total styles: "+styles.ap_aggs.hits.total)
                for ap_v in ap_keys
                  strong #{ap_obj[ap_v]["key"]}&nbsp
                  +badge(ap_obj[ap_v]["doc_count"])
                  - var ap_max = Number(ap_obj[ap_v]["max abv"]["value"]).toFixed(1)
                  |<br>&nbsp&nbsp&nbsp&nbspmax AVG:&nbsp#{ap_max}
                  |<br>
