extends ../node_modules/pug-bootstrap/layouts/starter
append body
  .container
    // render '/beers/' route
    if styles != null
      h1= title
      - var ba_obj = styles.ba_aggs.aggregations["Beer styles"].buckets;
      - var ba_keys = Object.keys(ba_obj);
      - var ap_obj = styles.ap_aggs.aggregations["Beer styles"].buckets;
      - var ap_keys = Object.keys(ap_obj);
      .row
        .col-sm-6
          +panel-default("BeerAdvocate total styles: "+styles.ba_aggs.hits.total)
            for ba_v in ba_keys
              if /ale/i.test(ba_v)
                strong #{ba_v}&nbsp
                +badge(ba_obj[ba_v]["doc_count"])
                |&nbsp<a href="/beers/styles/ales"><span class="glyphicon glyphicon-link"></span></a>
              else
                strong #{ba_v}&nbsp
                +badge(ba_obj[ba_v]["doc_count"])
                |&nbsp<a href="/beers/styles/find?q=#{ba_v}"><span class="glyphicon glyphicon-link"></span></a>
              - var ba_max = Number(ba_obj[ba_v]["max abv"]["value"]).toFixed(1)
              |<br>&nbsp&nbsp&nbsp&nbspmax AVG:&nbsp#{ba_max}
              |<br>
        .col-sm-6
          +panel-default("apivo.ru total styles: "+styles.ap_aggs.hits.total)
            for ap_v in ap_keys
              strong #{ap_obj[ap_v]["key"]}&nbsp
              +badge(ap_obj[ap_v]["doc_count"])
              - var ap_max = Number(ap_obj[ap_v]["max abv"]["value"]).toFixed(1)
              |<br>&nbsp&nbsp&nbsp&nbspmax AVG:&nbsp#{ap_max}
              |<br>
    // render beer from MongoDB
    if beers != null
      |<br><br>
      h1= title
      |<b>page:</b> #{options.page} <b>limit:</b> #{options.limit}
      .jumbotron
        for doc in beers
          if doc.ap_beer && doc.ba_beer
            include widgets/beer_card_ap_ba.pug
          if doc.ap_beer && !doc.ba_beer
            include widgets/beer_card_ap.pug
          if !doc.ap_beer && doc.ba_beer
            include widgets/beer_card_ba.pug
    if result != null
      |<br><br>
      h1= title
      |<b>Total MongoDB docs found:</b>&nbsp;#{total}<br><b>limit:</b> #{options.limit}
      .jumbotron
        for doc in result
          if doc.ap_beer && doc.ba_beer
            include widgets/beer_card_ap_ba.pug
          if doc.ap_beer && !doc.ba_beer
            include widgets/beer_card_ap.pug
          if !doc.ap_beer && doc.ba_beer
            include widgets/beer_card_ba.pug
