extends ../node_modules/pug-bootstrap/layouts/starter
block append head
	script(src="../ladda-bootstrap/dist/spin.min.js")
	script(src="../ladda-bootstrap/dist/ladda.min.js")
	script(src='../js/mongo_render.js')
	link(rel="stylesheet",href="../ladda-bootstrap/dist/ladda-themeless.min.css")
append body
	.container
		h4= title
		.hidden(id='paginator')
			|<ul class="pagination text-center">
			if options.page == 1
				|<li class="disabled"><a>First</a></li>
			else
				|<li><a href="find?q=#{urlpath}">First</a></li>
			- var i = (Number(options.page) > 5 ? Number(options.page) - 4 : 1)
			if i !== 1
				|<li class="disabled"><a>...</a></li>
			- for (; i <= (Number(options.page) + 4) && i <= pages; i++)
				if (i == options.page)
					|<li class="active"><a>#{i}</a></li>
				else
					|<li><a href="find?q=#{urlpath}&p=#{i}">#{i}</a></li>
				if i == Number(options.page) + 4 && i < pages
					|<li class="disabled"><a>...</a></li>
			if options.page == pages
				|<li class="disabled"><a>Last</a></li>
			else
				|<li><a href="find?q=#{urlpath}&p=#{pages}">Last</a></li>
			|</ul>
		.container
			form.navbar-form.navbar-left
				+icon-primary('search')
				|&nbsp;&nbsp;
				input.form-control(id='f1' name='query', type='text', placeholder='Oatmeal stout')
				|&nbsp;&nbsp;
				button.btn.btn-primary(id='form-submit' type='submit' class='btn btn-primary ladda-button' data-style='expand-right' data-size='l')= 'Найти пиво'
		.hidden(id='dataset')
			.jumbotron(id='ba_jumbotron_hid')
		.hidden
			.jumbotron(id='ba_jumbotron')
				include widgets/el_search_ba_jquery.pug
